.size {
 width:150px;
 height: 90px;
}

.menuitem {
text-align: center;
}

.menuitem i {
 text-align: center;
    padding: 0;  
}

.annualNavBar {
    box-sizing: inherit;
}

.buttonTop {
margin-top: 30px;
}